@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<details>
    Madhu Ramachandran<br />
    Piscataway, NJ 08854<br />
    <abbr title="Phone">P:</abbr>
    630.423.5353
</details>

